<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="templatepages.html :: head"></head>
<body>
<!-- Page Preloder -->
<div id="preloder" th:insert="templatepages.html :: preloader"></div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="icon_close"></i>
    </div>
    <div class="search-icon  search-switch">
        <i class="icon_search"></i>
    </div>
    <div class="header-configure-area">
        <div class="language-option">
            <img src="/img/flag.jpg" alt="">
            <span>EN <i class="fa fa-angle-down"></i></span>
            <div class="flag-dropdown">
                <ul>
                    <li><a href="#">Zi</a></li>
                    <li><a href="#">Fr</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="bk-btn">Mes Reservation</a>
    </div>
    
    <div id="mobile-menu-wrap"></div>
    <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-whatsapp"></i></a>
        <a href="#"><i class="fa fa-eye"></i></a>
    </div>
    <ul class="top-widget">
        <li><i class="fa fa-phone"></i> (+225) 07 09 115 115</li>
        <li><i class="fa fa-envelope"></i> info@lamirolhotel.com</li>
    </ul>
</div>
<!-- Offcanvas Menu Section End -->
<section class="">
    <!-- Header Section Begin -->

    <!-- Header Section Begin -->
    <header th:insert="templatepages.html :: header" class="header-section header-normal"></header>
    <!-- Header End -->

    <!-- Main start -->

    <main style="margin-bottom: -100px;">
        <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
                        
                        <div class="room_img">
                            <img src="/img/lamirol_img/rooms/room1.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room2.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room3.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room4.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room5.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room6.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room7.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room8.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room9.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room10.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room11.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room12.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room13.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room14.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room15.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room16.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room17.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room18.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room19.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room20.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room21.jpeg" alt="Chambre">
                            <img src="/img/lamirol_img/rooms/room22.jpeg" alt="Chambre">
                        </div>
                    
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    
    </main>
    
    <!-- Main end -->
</section>

<!-- Footer Section Begin -->
<footer th:insert="template.html :: footer" class="footer-section"></footer>
<!-- Footer Section End -->
</body>

</html>


