<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="templatepages.html :: head"></head>

<body >
<!-- Page Preloder -->
<div th:insert="templatepages.html :: preloader" id="preloder"></div>

<!-- Header Section Begin -->
<header th:insert="templatepages.html :: header" class="header-section header-normal"></header>
<!-- Header End -->

<!-- Main start -->
    <main style="margin-bottom: -100px;">
        <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
                    <div class="content">
                        <div class="img_container locaux_img">
                            <img src="/img/lamirol_img/locaux/0_global4.jpeg" alt="Locaux">
                            <img src="/img/lamirol_img/locaux/0_global5.jpeg" alt="Locaux">
                            <img src="/img/lamirol_img/locaux/0_global6.jpeg" alt="Locaux">
                            <img src="/img/lamirol_img/locaux/DSC05341.jpeg" alt="Locaux">
                            <img src="/img/lamirol_img/locaux/DSC05344.jpeg" alt="Locaux">
                            <img src="/img/lamirol_img/locaux/DSC05595.jpeg" alt="Locaux">
                            <img src="/img/lamirol_img/locaux/DSC05598.jpeg" alt="Locaux">
                            <img src="/img/lamirol_img/locaux/DSC05642.jpeg" alt="Locaux">
                        </div>
                    </div>
                </div>
    </div>
    <!-- Breadcrumb Section End -->
    
    </main>
    
    <!-- Main end -->

<!-- Footer Section Begin -->
<footer th:insert="template.html :: footer" class="footer-section"></footer>
<!-- Footer Section End -->
</body>

</html>


