<!DOCTYPE html>
<html lang="zxx">

<head th:insert="templatepages.html :: head"></head>

<body>
<!-- Page Preloder -->
<div th:insert="templatepages.html :: preloader" id="preloder"></div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="icon_close"></i>
    </div>
    <div class="search-icon  search-switch">
        <i class="icon_search"></i>
    </div>
    <div class="header-configure-area">
        <div class="language-option">
            <img src="/img/flag.jpg" alt="">
            <span>EN <i class="fa fa-angle-down"></i></span>
            <div class="flag-dropdown">
                <ul>
                    <li><a href="#">Zi</a></li>
                    <li><a href="#">Fr</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="bk-btn">Mes Reservation</a>
    </div>
    
    <div id="mobile-menu-wrap"></div>
    <div class="top-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-whatsapp"></i></a>
        <a href="#"><i class="fa fa-eye"></i></a>
    </div>
    <ul class="top-widget">
        <li><i class="fa fa-phone"></i> (+225) 07 09 115 115</li>
        <li><i class="fa fa-envelope"></i> info@lamirolhotel.com</li>
    </ul>
</div>
<!-- Offcanvas Menu Section End -->
<section class="">
    <!-- Header Section Begin -->

    <!-- Header Section Begin -->
    <header th:insert="templatepages.html :: header" class="header-section header-normal"></header>
    <!-- Header End -->

    <!-- Main start -->

    <main style="margin-bottom: -100px;">
        <!-- Breadcrumb Section Begin -->
    <!-- Breadcrumb Section End -->
    <section class="hp-room-section p-5">
        <div class="section-title">
            <h3 style=" padding:10px; margin-bottom: 60px; font-size: 16px;">
                A votre disposition tout type de véhicule pour vos déplacements à Abidjan et à l'intérieur du pays.
            </h3>
        </div>
        <div class="container-fluid ">
    
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/car clim 30places.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Car climatisé 30 places</h5>
                                    <div class="price">120 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>120 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 170 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/car clim 40places.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Car climatisé 40 places</h5>
                                    <div class="price">150 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>150 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 200 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/peugeot_406.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Peugeot 406</h5>
                                    <div class="price">35 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>35 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 50 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/peugeot_406.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Peugeot 407</h5>
                                    <div class="price">50 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>50 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 70 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/lk3.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Mitsububishi 4x4</h5>
                                    <div class="price">60 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>60 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 70 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/lk4.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Toyota Prado V8</h5>
                                    <div class="price">120 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>120 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 170 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/lk5.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Toyota 4x4</h5>
                                    <div class="price">60 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>60 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 70 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/lk6.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Toyota Prado 4x4</h5>
                                    <div class="price">70 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>70 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 90 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/lk7.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Toyota Prado 4x4</h5>
                                    <div class="price">60 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>70 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 90 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="room-thumb">
    
                            <!--   <img src="img/hebergement/suite.JPG" alt="" class="img-responsive"> -->
                            <img class=" img-responsive" src="/img/lamirol_img/vehicules/lk10.jpg" style="width:100%">
                            <div class="mask">
                                <div class="main" style="color:#df8709;">
                                    <h5 style="color:#325492;">Toyota Prado 4x4</h5>
                                    <div class="price">70 000 FCFA<span>par jour</span></div>
                                </div>
                                <div class="content">
                                    <p style="color:#325492; font-size: 14px; margin-bottom: 20px; text-align: center;"><span>Tarif de location avec chauffeur hors carburant:</span></p>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> </i>70 000 FCFA / jour</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> 90 000 FCFA / jour</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="color:#df8709; text-align: left; display: flex; justify-content: space-around;">
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled " style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Abidjan</li>
    
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            <ul class="list-unstyled" style="color:#df8709;">
                                                <li><i class="fa fa-check-circle"></i> Interieur du pays</li>
                                            </ul>
                                        </div>
                                    </div><br><hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section> 
    </main>
    
    <!-- Main end -->
</section>

    <!-- Footer Section Begin -->
    <footer th:insert="template.html :: footer" class="footer-section"></footer>
    <!-- Footer Section End -->
</body>

</html>


