<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="templatepages.html :: head"></head>

<body>
<!-- Offcanvas Menu Section End -->
<section class="">
    <!-- Header Section Begin -->

    <!-- Header Section Begin -->
    <header th:insert="templatepages.html :: header" class="header-section header-normal"></header>
    <!-- Header End -->

    <!-- Main start -->
    <main>
        <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="center" style="margin-top: 50px;">
                <div class="circle">
                    <img src="/img/lamirol_img/pool1.jpeg" alt="">
                </div>
                <div class="circle">
                    <img src="/img/lamirol_img/pool2.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    
    </main>
    <!-- Main end -->

</section>



<!-- Footer Section Begin -->
<footer th:insert="template.html :: footer" class="footer-section"></footer>
<!-- Footer Section End -->
</body>

</html>


